<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="./image/baby-bottle.ico">
    <title>寶寶開心寶寶大聲說</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css">
    <!-- all.css -->
    <link rel="stylesheet" href="./css/all.css">
</head>

<body>
    <div id="app">
        <div class="container">
            <div class="row justify-content-center text-center ">
                <div class="col-4 border rounded-3 mt-5 py-5 px-4">
                    <h1 class="h3 mb-3 font-weight-normal">
                        請先登入
                    </h1>
                    <form id="form" class="form-signin" @keyup.enter="login">
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" id="username" placeholder="name@example.com" v-model="user.username"
                                required autofocus>
                            <label for="username">請輸入電子郵件</label>
                        </div>
                        <div class="form-floating">
                            <input type="password" class="form-control" id="password" placeholder="Password" v-model="user.password"  required>
                            <label for="password">請輸入密碼</label>
                        </div>
                        <button class="btn btn-lg btn-primary w-    100 mt-3" type="button" @click="login" >
                            登入
                        </button>
                    </form>
                </div>
            </div>
            <p class="mt-5 mb-3 text-muted text-center">
                &copy; 2021~∞ - 六角學院
            </p>
        </div>
    </div>
    <!-- Bootstrap -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.min.js"></script>
    <!-- axios -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.25.0/axios.min.js"></script>
    <!-- login -->
    <script src="./js/login.js" type="module"></script>
</body>

</html>